@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  background: #171c24;
}
nav .nav-items {
  display: flex;
}
nav .nav-items li {
  padding: 0 15px;
}
nav .nav-items li a {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
nav .nav-items li a:hover {
  color: #ff3d00;
}
nav .logo {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
}
nav form {
  display: flex;
  height: 40px;
  background: #1e232b;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 2px;
  padding: 2px;
}
nav form .search-data {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
  outline: 0;
  font-size: 17px;
}
nav form button {
  padding: 0 15px;
  background: #ff3d00;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: #fff;
  border-radius: 2px;
}
nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .search-icon,
nav .cancel-icon {
  display: none;
}

@media (max-width: 1180px) {
  nav {
    padding: 0px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 57px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form::before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    margin: -19px 0 0;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
  }
  nav form::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 60px;
    padding: 2px;
    width: calc(100% + 20px);
    background: #1e232b;
    z-index: -2;
    border-radius: 2px;
    transform: translate(-50%, -50%);
  }
  nav form.active {
    opacity: 1;
    top: 95px;
    pointer-events: auto;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #14181f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0%;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
nav .menu-icon span {
    display: block;
  }
  nav .search-icon.hide,
nav .menu-icon span.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
@media (max-width: 500px) {
  nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
    margin: 0 10px;
    font-size: 16px;
  }
  nav .logo {
    font-size: 20px;
  }
  nav form {
    right: 20px;
  }
}
