@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: relative;
}

#head {
    width: 100%;
    height: 100vh;
    background-image: url(../img/headbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 100px;
    .head-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            color: #fff;
            font-size: 55px;
            letter-spacing: 1.5;
        }
        a {
            font-size: 18px;
            color: #fff;
            transition: color .3s ease-in-out;
            &:hover {
                color: #ffffff8f;
            }
        }
    }
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    /* From https://css.glass */
    background: rgba(52, 38, 38, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    z-index: 99;
    .nav-items {
        display: flex;
    }
    .nav-items li {
        padding: 0 15px;
    }
    .nav-items li a {
        font-size: 18px;
        font-weight: 500;
        color: #ffff;
        transition: color .3s ease-in-out;
        position: relative;
    }
    .nav-items li a::after {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        content: ".";
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 600;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    .nav-items li a:hover::after {
        opacity: 1;
    }
    .logo a {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -1px;
        color: #fff;
    }
    form {
        display: flex;
        height: 40px;
        min-width: 18% !important;
        border-radius: 2px;
        padding: 2px;
        .search-data {
            height: 100%;
            width: 100%;
            padding: 0 10px;
            background: none;
            border: none;
            border: 1px solid rgba(155, 155, 155, 0.133);
            color: #fff;
            font-weight: 500;
            outline: 0;
            font-size: 17px;
        }
        button {
            padding: 0 15px;
            background: #ff3d00;
            border: none;
            cursor: pointer;
            font-size: 17px;
            color: #fff;
            border-radius: 2px;
        }
    }
    .menu-icon,
    .search-icon,
    .cancel-icon {
        width: 40px;
        color: #fff;
        text-align: center;
        margin: 0 50px;
        font-size: 18px;
        cursor: pointer;
        display: none;
    }
    .menu-icon span,
    .search-icon,
    .cancel-icon {
        display: none;
    }
}

@media (max-width: 1180px) {
    nav {
        padding: 0px;
        form {
            position: absolute;
            top: 80px;
            right: 57px;
            opacity: 0;
            pointer-events: none;
            transition: top .3s ease, opacity 0.1s ease;
            z-index: 99;
            &::before {
                position: absolute;
                content: "";
                top: -13px;
                right: 0;
                width: 0;
                height: 0;
                z-index: 1;
                margin: -18px 0 0;
                border: 10px solid transparent;
                border-bottom-color: rgba(52, 38, 38, 0.48);
            }
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                content: "";
                height: 60px;
                padding: 2px;
                width: calc(100% + 20px);
                /* From https://css.glass */
                background: rgba(52, 38, 38, 0.48);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(13px);
                -webkit-backdrop-filter: blur(13px);
                z-index: -1;
                border-radius: 2px;
                transform: translate(-50%, -50%);
            }
        }
        form.active {
            opacity: 1;
            top: 95px;
            pointer-events: auto;
        }
        .nav-items {
            position: fixed;
            z-index: 999;
            top: 70px;
            left: -100%;
            width: 100%;
            height: 100vh;
            /* From https://css.glass */
            background: rgba(52, 38, 38, 0.605);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(18.1px);
            -webkit-backdrop-filter: blur(18.1px);
            display: inline-block;
            padding: 75px 50px 0 50px;
            text-align: center;
            transition: left .3s ease;
        }
        .nav-items.active {
            left: 0%;
        }
        .nav-items li {
            line-height: 40px;
            margin: 30px 0;
        }
        .nav-items li a {
            font-size: 25px;
        }
        .nav-items li a::after {
            top: 35px;
        }
        .logo {
            flex: 2;
            text-align: center;
        }
        .menu-icon {
            display: block;
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.5);
            }
        }
        .search-icon,
        .cancel-icon {
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.5);
            }
        }
        .search-icon,
        .menu-icon span {
            display: block;
        }
        .search-icon.hide,
        .menu-icon span.hide {
            display: none;
        }
        .cancel-icon.show {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    nav {
        .menu-icon,
        .search-icon,
        .cancel-icon {
            margin: 0 10px;
            font-size: 16px;
        }
        .logo a {
            font-size: 20px;
        }
        form {
            right: 20px;
        }
    }
    #head {
        .head-container {
            h1 {
                font-size: 35px;
            }
        }
    }
}