* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

ul {
    list-style: none;
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

header {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 0;
    position: fixed;
}

.navbar-display {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    h1 {
        color: #fff;
    }
    .navbar-menu {
        display: flex;
        padding-left: 3.7rem;
        overflow-x: visible !important;
        li {
            .fa-xmark {
                font-size: 20px;
                color: #fff !important;
            }
        }
        .fa-xmark {
            display: none !important;
        }
        li {
            margin-right: 25px;
            &:last-child {
                margin-right: 0 !important;
            }
            a {
                font-size: 18px;
                color: #fff;
            }
        }
    }
}

.form {
    .form-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        input {
            width: 100%;
            margin-left: 10px;
            position: relative;
            background-color: transparent;
        }
        .fa-magnifying-glass,
        .fa-xmark {
            padding: 5px;
            position: absolute;
            font-size: 20px;
        }
        .fa-magnifying-glass {
            color: rgb(255, 255, 255);
        }
        .fa-xmark {
            color: rgb(255, 255, 255);
            display: none;
        }
    }
}

.reso {
    width: 59.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    display: none !important;
}

#head {
    width: 100%;
    height: 100vh;
    background-image: url(../img/head-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

@media (max-width: 576px) {
    .navbar-display {
        .navbar-menu-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 100vh;
            /* From https://css.glass */
            background: rgba(0, 0, 0, 0.59);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            overflow-x: hidden;
            transition: all .3s ease-in-out;
            z-index: 10;
        }
        .navbar-menu {
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
            li {
                margin-bottom: 20px;
                a {
                    font-size: 20px;
                }
            }
            .fa-xmark {
                position: absolute;
                top: 20px;
                right: 15px;
                color: #fff;
                display: block !important;
                font-size: 20px;
            }
        }
    }
    .form {
        .form-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            input {
                position: relative;
                width: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }
            .fa-magnifying-glass,
            .fa-xmark {
                padding: 5px;
                position: absolute;
                color: rgb(255, 255, 255);
            }
            .fa-magnifying-glass {
                color: rgb(255, 255, 255);
            }
            .fa-xmark {
                color: rgb(255, 255, 255);
                display: block;
            }
        }
    }
    .reso {
        flex-direction: row-reverse;
        h1 {
            margin-right: 10px;
        }
    }
    .fa-bars {
        display: block !important;
    }
}